################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/src/CityInfo.API/bin/Debug/netcoreapp1.0
