################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/src/CityInfo.API/bin/Debug/netcoreapp1.0
/src/CityInfo.API/obj/Debug/netcoreapp1.0
/.vs/restore.dg
/src/CityInfo.API/bin/src/CityInfo.API
